.form_container {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
  background: #f2f2f2;
}


.form_container {
  background: #fff;
  width: 400px;
  max-width: 100%;
  box-sizing: border-box;
  padding: 25px;
  margin: 8% auto 0;
  position: relative;
  z-index: 1;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}


.input_field {
  position: relative;
  margin-bottom: 20px;
}



input {
  width: 100%;
  padding: 8px 10px 9px 35px;
  height: 35px;
  border: 1px solid grey;
  box-sizing: border-box;
  outline: none;
  transition: all 0.30s ease-in-out;
  background: #fafafa;
  border: 1px solid rgba(255, 255, 0, 0);
  background: #fafafa;
}

/* .submitBtn {
  background: gold;
  cursor: pointer;
  color: #fff;
  font-size: 1.1em;
  width: 45%;
  height: 50px;
  margin: 0 auto;
  padding: 0;
  display: inline-block;
  line-height: 50px;
  text-align: center;
  -webkit-text-stroke: .05px black;
} */

ul{
  list-style: none;
}

/* .cancelBtn {
  background: grey;
  cursor: pointer;
  color: #fff;
  font-size: 1.1em;
  width: 45%;
  height: 50px;
  display: inline-block;
  box-shadow: none;
  line-height: 50px;
  text-align: center;
  margin-left: 5%;
} */

.submitBtn {
  background-color: #ffee00;
  border-radius: 12px;
  color: #000;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 15px;
  text-align: center;
  transition: 200ms;
  width: 45%;
  box-sizing: border-box;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.submitBtn:not(:disabled):hover,
.submitBtn:not(:disabled):focus {
  outline: 0;
  background: #f4e603;
  box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
}

.submitBtn:disabled {
  filter: saturate(0.2) opacity(0.5);
  cursor: not-allowed;
}

.cancelBtn {
  background-color: #949494;
  border-radius: 12px;
  color: #000;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 15px;
  text-align: center;
  transition: 200ms;
  width: 45%;
  box-sizing: border-box;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-left: 9%;
  height: 35px;
}

.cancelBtn:not(:disabled):hover,
.cancelBtn:not(:disabled):focus {
  outline: 0;
  background: #949494;
  box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
}

.cancelBtn:disabled {
  filter: saturate(0.2) opacity(0.5);
  cursor: not-allowed;
}